h1, h2, h3, h4, .copyright {
    font-family: 'Dokdo', cursive;

}

header {
    text-align: center;
}


.container {
    text-align: center;
}

.scorekeeper {
    align-items: center;
}

.winslosses {
    font-family: 'Amatic SC', cursive;
    font-display: bold;
    font-size: 2em;
    color: rgb(240, 109, 109);
}


footer {
   text-align: center;
   margin-top: 100px;
}

.copyright {
    text-align: center;
    align-content: center;
    
}